# Python仮想環境
.venv/

# Pythonキャッシュ
__pycache__/
*.pyc

# ダウンロードした言語モデルを無視する
backend/worker/llm_models/

# Dockerが生成するファイルを無視する
ollama_data/

.env*

japan-latest.osm.pbf
backend/worker/data/map/car/*
backend/worker/data/map/foot/*